@mixin accordion {
  .accordion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 498px;
    min-height: 354px;
    border: 1px solid var(--placebo-color);
    margin-left: 21px;
    padding: 30px 35px 0 40px;
    &-item {
      &__title {
        font-weight: 400;
        min-height: 35px;
        display: flex;
        position: relative;
        font-size: 16px;
        line-height: 28px;
        text-transform: uppercase;
        cursor: pointer;
        &::before,
        &::after {
          position: absolute;
          content: "";
          top: 13px;
          right: -1px;
          width: 18px;
          height: 2px;
          background-color: var(--blue-color);
        }
        &::before {
          transition: transform 0.3s ease-in-out;
        }
        &::after {
          transition: transform 0.3s, opacity 0.3s ease-in-out;
          opacity: 1;
          transform: rotate(90deg);
        }
        &.active {
          &::after {
            opacity: 0;
            transform: rotate(0deg);
          }
        }
      }
      &__descr {
        font-size: 14px;
      }
      &__body {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        margin-bottom: 20px;
        &-content {
          margin-top: 12px;
          line-height: 1;
          padding-left: 43px;
          color: grey;
        }
      }
    }
  }
}
@include accordion;
