.hero {
  padding-top: 251px;
  padding-bottom: 220px;
  &-content {
    position: relative;
    display: flex;
    &-left {
      max-width: 485px;
      &__title {
        font-size: 56px;
        line-height: 66px;
        font-weight: 400;
        margin-bottom: 52px;
        letter-spacing: normal;
      }
      &__inner {
        display: flex;
        align-items: center;
        column-gap: 20px;
        margin-bottom: 40px;
      }
      &__button {
        padding: 14px 40.5px;
      }
      &__box {
        display: flex;
        flex-direction: column;
      }
      &__blockquote {
        margin-bottom: 17px;
      }
      &__author {
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      &__img {
        &-rating {
          width: 90px;
          height: 18px;
        }
      }
    }
    &-right {
      position: absolute;
      top: -119px;
      right: -98px;
    }
  }
}
