:root {
  //Основные настройки контейнера
  --content-width: 1200px;
  --content-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--content-offset) * 2));

  // Добавление цвета
  --primary-color: #000;
  --light-color: #fff;
  --blue-color: #0057ff;
  --tamago-orange-color: #ffa332;
  --box-shadow-form: rgba(83, 83, 83, 0.15);
  --box-shadow-slider: rgba(0, 0, 0, 0.09);
  --input-color: #f8f8f8;
  --placebo-color: #e7e7e7;
  --purple-color: #b861ff;
  --wildfire-color: #ff8e32;
  --slider-navigation-default-color: rgba(34, 34, 34, 0.4);
  --slider-navigation-active-color: #222222;
  --wisteria-color: #d9dcec;
}
